@import 'normalize';
/*----------------
GENERAl
-----------------*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}

/*----------------
VIDEO
-----------------*/

.video-container {
  max-width: 900px;
  margin: 0 auto;
}

video {
  max-width: 100%;
  border-radius: 0 0 5px 5px;
}
